<div class="main-settings"> 
  <h1 class="main-hdng"><i style="color:#2d9ee0;" class="ion-arrow-right-c" aria-hidden="true"></i> &nbsp;Transfer Ownership</h1>
  <div class="transfer-ownr-main">
  	<div class="row">
  		<div class="col-md-6">
  			<div class="lft-trans">
  				<h4>Transferring ownership is a one-way street.</h4>
  				<p>
  					You cannot undo this, and the transfer is immediate.
<br><br>
The new Primary Workspace Owner will have ultimate authority over the <b>John</b> workspace — including promoting others to ownership roles.
  				</p>
  			</div>
  		</div>
  		<div class="col-md-6">
  			<div class="rit-trans">
  				<form class="form-group">
  					<ul>
  						<li>
  							<label>New Primary Workspace Owner:</label>
  							<div class="btn-group selectbox" style="width:80%;min-width:80%;">
                                          <a class="btn dropdown-toggle btn-select form-control" data-toggle="dropdown" href="#">Full Name<span class="caret"></span></a>
                                          <ul class="dropdown-menu">
                                            <li><a href="javascript:void(0)">Display Name</a></li>
                                            <li><a href="javascript:void(0)">Type</a></li>
                                            <li><a href="javascript:void(0)">Join Date (recent first)</a></li>
                                            <li><a href="javascript:void(0)">Two-Factor Authentication Enabled</a></li>
                                            <li><a href="javascript:void(0)">Inactive</a></li>
                                          </ul>
                                      </div> 
  						</li>
  						<li>
  							<label>Password</label>
  							<input type="Password" class="form-control" name="">
  							<small>Enter your password to confirm the transfer. <a href="javascript:void(0)">Forgot your password?</a></small>
  						</li>
  						<li>
  							<a href="javascript:void(0)" class="btn btn-green">Transfer Workspace Ownership</a>
  							<a href="javascript:void(0)" class="btn btn-default btn-outline">Cancel</a>
  						</li>
  					</ul>
  				</form>
  			</div>
  		</div>
  	</div>
  </div>
</div>