<div class="main-settings"> 
  <h1 class="main-hdng"><i style="color:#2d9ee0;font-size:35px;margin-top: -3px;" class="ion-document-text" aria-hidden="true"></i> &nbsp;Files</h1>

                <div class="account-tabs">
                    <ul class="nav nav-pills nav-pills-rounded">
                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link active" data-toggle="tab" data-target="#allfiles-fst">All Files</a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link" data-toggle="tab" data-target="#myfiles-sec">My Files (1)</a>
                        </li>
                    </ul>
                    <div class="tab-content account-tab-contnt">
                        <div role="tabpanel" class="tab-pane active" id="allfiles-fst">
                            <div class="main-files-sec">
                            	<div class="row">
                            		<div class="col-md-8">
                            			<div class="lft-files-arti">
                            				<ul>
                            					<li>
                            						<a href="javascript:void(0)">
	                            						<span class="file-cion-left"><i class="ion-document-text"></i></span>
	                            						<span class="file-con-rit">
	                            							<small>slackbot Sep 25th at 9:29 AM</small>
	                            							<h5>Channels Keep Your Conversations Organized</h5>
	                            							<p>Slack lets you join and create channels to keep your conversations organized and focused. Create channels for your functional teams, large projects, and...</p>
	                            						</span>
                            						</a>
                            						<a href="javascript:vold(0)" class="hover-star">
                            							<i class="ion-android-star-outline"></i>
                            						</a>
                            					</li>
                            					<li>
                            						<a href="javascript:void(0)">
	                            						<span class="file-cion-left"><i class="ion-document-text"></i></span>
	                            						<span class="file-con-rit">
	                            							<small>slackbot Sep 25th at 9:29 AM</small>
	                            							<h5>Welcome to Slack!</h5>
	                            							<p>Slack lets you join and create channels to keep your conversations organized and focused. Create channels for your functional teams, large projects, and...</p>
	                            						</span>
                            						</a>
                            						<a href="javascript:vold(0)" class="hover-star">
                            							<i class="ion-android-star-outline"></i>
                            						</a>
                            					</li>
                            					<li>
                            						<a href="javascript:void(0)">
	                            						<span class="file-cion-left"><i class="ion-document-text"></i></span>
	                            						<span class="file-con-rit">
	                            							<small>slackbot Sep 25th at 9:29 AM</small>
	                            							<h5>Uploading Your Files Into Slack</h5>
	                            							<p>Slack lets you join and create channels to keep your conversations organized and focused. Create channels for your functional teams, large projects, and...</p>
	                            						</span>
                            						</a>
                            						<a href="javascript:vold(0)" class="hover-star">
                            							<i class="ion-android-star-outline"></i>
                            						</a>
                            					</li>
                            					<li>
                            						<a href="javascript:void(0)">
	                            						<span class="file-cion-left"><i class="ion-document-text"></i></span>
	                            						<span class="file-con-rit">
	                            							<small>slackbot Sep 25th at 9:29 AM</small>
	                            							<h5>Getting Started with Posts</h5>
	                            							<p>Slack lets you join and create channels to keep your conversations organized and focused. Create channels for your functional teams, large projects, and...</p>
	                            						</span>
                            						</a>
                            						<a href="javascript:vold(0)" class="hover-star">
                            							<i class="ion-android-star-outline"></i>
                            						</a>
                            					</li>
                            				</ul>
                            			</div>
                            		</div>
                            		<div class="col-md-4">
                            			<div class="rit-files-arti">
                            				<form class="form-group">
                            					<ul>
                            						<li>
                            							<label>Files From</label>
                            							<div class="btn-group selectbox" style="width:100%;min-width:100%;">
											                <a class="btn dropdown-toggle btn-select form-control" data-toggle="dropdown" href="#">Search by name<span class="caret"></span></a>
											                <ul class="dropdown-menu" style="padding:2px;">
											                  <li>
											                  	<a href="javascript:void(0)" class="inside-select-anchor">
											                  	<span class="from-img-user"><img src="assets/images/user.png" alt=""></span>
											                  	<h5>John Smith<small>johnsmith</small></h5>
											                  	</a>
											                  </li>
											                  <li>
											                  	<a href="javascript:void(0)" class="inside-select-anchor">
											                  	<span class="from-img-user"><img src="assets/images/user.png" alt=""></span>
											                  	<h5>Johnson<small>johnson</small></h5>
											                  	</a>
											                  </li>
											                  <li>
											                  	<a href="javascript:void(0)" class="inside-select-anchor">
											                  	<span class="from-img-user"><img src="assets/images/user.png" alt=""></span>
											                  	<h5>Shelton<small>shelton</small></h5>
											                  	</a>
											                  </li>
											                </ul>
											            </div>
                            						</li>
                            						<li>
                            							<label>Files Types</label>
                            							<div class="btn-group selectbox" style="width:100%;min-width:100%;">
											                <a class="btn dropdown-toggle btn-select form-control" data-toggle="dropdown" href="#">All File Types<span class="caret"></span></a>
											                <ul class="dropdown-menu" style="padding:2px;">
											                  <li><a class="mar0" href="javascript:void(0)">Posts</a></li>
											                  <li><a class="mar0" href="javascript:void(0)">Snippets</a></li>
											                  <li><a class="mar0" href="javascript:void(0)">Images</a></li>
											                  <li><a class="mar0" href="javascript:void(0)">Videos</a></li>
											                </ul>
											            </div>
                            						</li>
                            						<li class="add-file-btns">
                            							<label style="font-size:16px">Add Files</label>
                            							<a href="javascript:void(0)" class="btn btn-green pull-left"><i class="ion-code-working"></i> New Snippet</a>
                            							<a href="javascript:void(0)" class="btn btn-blue pull-right"><i class="ion-edit"></i> New Post</a>
                            						</li>
                            					</ul>
                            				</form>
                            			</div>
                            		</div>
                            	</div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="myfiles-sec">
                            <div class="main-files-sec">
                            	<div class="row">
                            		<div class="col-md-8">
                            			<div class="lft-files-arti">
                            				<ul>
                            					<li>
                            						<a href="javascript:void(0)">
	                            						<span class="file-cion-left"><i class="ion-document-text"></i></span>
	                            						<span class="file-con-rit">
	                            							<small>nmnmnmn Sep 25th at 9:29 AM</small>
	                            							<h5>Untitled</h5>
	                            							<p>Create channels for your functional teams, large projects, and...</p>
	                            							<small>Private file</small>
	                            						</span>
                            						</a>
                            						<a href="javascript:vold(0)" class="hover-star">
                            							<i class="ion-android-star-outline"></i>
                            						</a>
                            					</li>
                            				</ul>
                            			</div>
                            		</div>
                            		<div class="col-md-4">
                            			<div class="rit-files-arti">
                            				<form class="form-group">
                            					<ul>
                            						<li>
                            							<label>Files From</label>
                            							<div class="btn-group selectbox" style="width:100%;min-width:100%;">
											                <a class="btn dropdown-toggle btn-select form-control" data-toggle="dropdown" href="#">Search by name<span class="caret"></span></a>
											                <ul class="dropdown-menu" style="padding:2px;">
											                  <li>
											                  	<a href="javascript:void(0)" class="inside-select-anchor">
											                  	<span class="from-img-user"><img src="assets/images/user.png" alt=""></span>
											                  	<h5>John Smith<small>johnsmith</small></h5>
											                  	</a>
											                  </li>
											                  <li>
											                  	<a href="javascript:void(0)" class="inside-select-anchor">
											                  	<span class="from-img-user"><img src="assets/images/user.png" alt=""></span>
											                  	<h5>Johnson<small>johnson</small></h5>
											                  	</a>
											                  </li>
											                  <li>
											                  	<a href="javascript:void(0)" class="inside-select-anchor">
											                  	<span class="from-img-user"><img src="assets/images/user.png" alt=""></span>
											                  	<h5>Shelton<small>shelton</small></h5>
											                  	</a>
											                  </li>
											                </ul>
											            </div>
                            						</li>
                            						<li>
                            							<label>Files Types</label>
                            							<div class="btn-group selectbox" style="width:100%;min-width:100%;">
											                <a class="btn dropdown-toggle btn-select form-control" data-toggle="dropdown" href="#">All File Types<span class="caret"></span></a>
											                <ul class="dropdown-menu" style="padding:2px;">
											                  <li><a class="mar0" href="javascript:void(0)">Posts</a></li>
											                  <li><a class="mar0" href="javascript:void(0)">Snippets</a></li>
											                  <li><a class="mar0" href="javascript:void(0)">Images</a></li>
											                  <li><a class="mar0" href="javascript:void(0)">Videos</a></li>
											                </ul>
											            </div>
                            						</li>
                            						<li class="add-file-btns">
                            							<label style="font-size:16px">Add Files</label>
                            							<a href="javascript:void(0)" class="btn btn-green pull-left"><i class="ion-code-working"></i> New Snippet</a>
                            							<a href="javascript:void(0)" class="btn btn-blue pull-right"><i class="ion-edit"></i> New Post</a>
                            						</li>
                            					</ul>
                            				</form>
                            			</div>
                            		</div>
                            	</div>
                            </div>
                        </div>

                    </div>
                </div>
</div>


